<h2>HomePage</h2>
<div class="container-fluid">
  Kornelia 
  </div>
  
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <button type="button" class="btn btn-primary m-2 p-2">Primary</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary">Secondary</button>
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>
